body{
    font-family: sans-serif;
}
textarea{
    width: max-content;
    height: 80%;
    display: block;
    margin: 2rem;
    padding: 1rem;
    border-radius: 1rem;
    display: inline-block;
}

#output{
    border: 1px solid black;
    width: 80%;
    height: 80%;
    display: block;
    margin: 2rem;
    padding: 1rem;
    border-radius: 1rem;
    display: inline-block;
}
#btn-translate{
    margin: 0rem 0rem 2rem 2rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    font-size: 1.5rem;
    display: inline-block;
}
